<nav class="navbar navbar-expand-md bg-white border-bottom fixed-top mb-4">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center fw-bold fs-4" href="/">
        <i class="fa-solid fa-compass me-2"></i>Wanderlust
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav fw-semibold">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link text-danger" href="/listings/new">Add New Listing</a>
      </div>

      <div class="navbar-nav ms-auto fw-semibold">
        <% if(!currUser){ %>
          <a class="nav-link" href="/signup">Signup</a>
          <a class="nav-link" href="/login">Login</a>
        <% } %>
        <% if(currUser){ %>
          <a class="nav-link" href="/logout">LogOut</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>