<% layout("/layouts/boilerplate") %>

<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="row col-xl-6 col-lg-7 col-md-9">
        
        <div class="p-4 mt-5 border rounded-3 shadow-lg bg-white">
            
            <h1 class="mb-4 text-center fw-bold text-dark">Welcome Back!</h1>
            
            <form action="/login" method="post" class="needs-validation " novalidate>
                
                <div class="mb-3">
                    <label for="username" class="form-label fw-semibold">Username</label>
                    <input
                        id="username"
                        name="username"
                        type="text"
                        class="form-control"
                        placeholder="Enter your username"
                        required
                        autofocus
                    />
                    <div class="invalid-feedback">Please enter your username.</div>
                </div>

                <div class="mb-4">
                    <label for="password" class="form-label fw-semibold">Password</label>
                    <input
                        id="password"
                        name="password"
                        type="password"
                        class="form-control"
                        placeholder="Enter your password"
                        required
                    />
                    <div class="invalid-feedback">Please enter your password.</div>
                </div>

                <button class="add-btn w-50 btn-lg rounded-pill fw-bold d-block mx-auto">Login</button>
            </form>
        </div>
    </div>
</div>